#tareas
{
	color: #000;
	background-color: #CAD4D2;		
	margin-top: 10px;
	margin-left: 250px;
	margin-right: 250px;
	padding-left: 10px;	
	padding-bottom: 10px;
	border: 4px ridge #6A4141;
	position:relative;
	bottom:420px;
}