h1{
	color:#975B7E;
}


.navegacion
{
	width: 85%;
	margin: 20px auto;
	background-color:#4A4247;	
}

.navegacion ul
{
	list-style: none;
}


.menu > li
{
	position: relative;
	display: inline-block;
}

.menu > li > a
{
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
	font-size: 20px;	
}

.menu li a:hover
{
	background:rgba(25,25,25,.5);
	transition: all .5s;
}


.submenu
{
	position: absolute;
	width: 120%;
	background: #333333;
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s;
}

.submenu li a
{
	display: block;
	padding: 15px;	
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

.menu li:hover .submenu
{
	visibility: visible;
	opacity: 1;
}
