body{
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.main-nav{

    background-color: darkolivegreen;
    height: 50px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    .menu{

        list-style: none;
        margin: 0px;
        padding: 0px;

        display: flex;

        opacity: 0;
        visibility: hidden;
        

        .menu__item{
            
            margin: 0px 15px;
        }

        .menu__link{

            text-decoration: none;
            color: #fff;
            font-size: 1.1rem;          
            
            
            &:hover{
                text-decoration: underline;               
            }

        }
    }


}

@mixin menubar {

    width: 100%;
    background-color: white;
    height: 3px;

    transition: all .2s;
}

.menu-bar{

    width: 30px;
    margin-right: 20px;
    cursor: pointer;
    
    .uno{
        
        @include menubar();
    }
    
    .dos{
        
        @include menubar();
        margin: 5px 0px;
    }
    
    .tres{
        
        @include menubar();
    }
}


.mostrar .uno{
    transform: rotate(45deg) translate(5px, 5px);
}

.mostrar .dos{
    opacity: 0%;
}

.mostrar .tres{
    transform: rotate(-45deg) translate(6px, -7px);
}

.mostrar .menu{
    opacity: 1;
    visibility:visible;
}


main{

    width: 90%;
    text-align: center;
    margin: auto;
    text-align: justify;
}