*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;

    height: 200rem;    
}


.header{    

    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;    

    background-color: darkolivegreen;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 1s;

    .logo{
        margin-left: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .links{

        a{
            text-decoration: none;
            color: #fff;
            font-size: 1.1rem;

            margin: 0px 20px;

            &:hover{
               text-decoration: underline;
               color: rgb(228, 161, 153);
            }
        }
    }
}


main{  

    margin: 100px auto;
    width: 80%;
   
    text-align: justify;
}

.fixed{     

    background-color: rgba($color: black, $alpha: .8);    

    .logo{
        color: #fff;
    }
}